body{
    background-color: black;
}
.post{
    background-color: white;
    margin: auto;
    width: 400px;
}
.post-header {
  
    align-items: center;
   
}
.html-title{
display: flex;
}
.post-header-name{

}
.post-img img{

    width: 400px;
    
}