body{
    background-color: black;
}
.post{
    background-color: white;
    margin: auto;
    width: 400px;
}
.post-header{
    display: flex;
    justify-content: space-between;
}
.header-title{
    display: flex;
    gap: 1.5rem;
}
  


.post-img img{

    width: 400px;
    
}